<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Registro </title>
  <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet">
</head>

<body>
  <main class="main-content">
    <%- include('../partials/backgroundLogin.ejs')%>
      <section class="right-content">

        <div class="contenedorFormulario">
          <div class="title">
            <p class="HAM"> Hola al Mundo </p>
            <p class="subtitle"> Formulario de registro </p>
          </div>
          <form name="form" class="formulario" action="/register" method="POST">
            <div class="campos">
              <label for="Nombre"></label>
              <input placeholder="Nombre" type="text" name="nombre"  
              <%= locals.errors && errors.nombre ? 'is-invalid' : null %>
							value="<%= locals.oldData ? oldData.nombre : null %>"
              >
              <% if(locals.errors && errors.nombre) { %>
                <div class="text-danger" style="color: red">
                  <%= errors.nombre.msg %>
                </div>
              <% } %>
            </div>
            <div class="campos">
              <label for="Apellido"></label>
              <input placeholder="Apellido" type="text" name="apellido"
              <%= locals.errors && errors.apellido ? 'is-invalid' : null %>
							value="<%= locals.oldData ? oldData.apellido : null %>"
              >
              <% if(locals.errors && errors.apellido) { %>
                <div class="text-danger" style="color: red">
                  <%= errors.apellido.msg %>
                </div>
              <% } %>
            </div>

            <div class="campos">
              <label for="Celular"></label>
              <input placeholder="Celular" type="tel" name="celular"
              <%= locals.errors && errors.nombre ? 'is-invalid' : null %>
							value="<%= locals.oldData ? oldData.celular : null %>"
              >
              <% if(locals.errors && errors.celular) { %>
                <div class="text-danger" style="color: red">
                  <%= errors.celular.msg %>
                </div>
              <% } %>
            </div>

            <div class="campos">
              <label for="Mail"></label>
              <input placeholder="Mail" type="email" name="email"
              <%= locals.errors && errors.email ? 'is-invalid' : null %>
							value="<%= locals.oldData ? oldData.email : null %>"
              >
              <% if(locals.errors && errors.email) { %>
                <div class="text-danger" style="color: red">
                  <%= errors.email.msg %>
                </div>
              <% } %>
            </div>

            <div class="campos">
              <label for="Contrasenia"></label>
              <input placeholder="Contraseña" type="password" name="contrasenia"
              <%= locals.errors && errors.contrasenia ? 'is-invalid' : null %>
							value="<%= locals.oldData ? oldData.contrasenia : null %>"
              >
              <% if(locals.errors && errors.contrasenia) { %>
                <div class="text-danger" style="color: red">
                  <%= errors.contrasenia.msg %>
                </div>
              <% } %>
            </div>
            <div class="campos">
              <label for="validationContrasenia"></label>
              <input placeholder="Confirma la contraseña" type="password" name="validationContrasenia"
              <%= locals.errors && errors.validationContrasenia ? 'is-invalid' : null %>
							value="<%= locals.oldData ? oldData.validationContrasenia : null %>"
              >
              <% if(locals.errors && errors.validationContrasenia) { %>
                <div class="text-danger" style="color: red">
                  <%= errors.validationContrasenia.msg %>
                </div>
              <% } %>
            </div>
            <div class="campos">
                <label for="sexo:"></label>
                <select name="sexo" id="sexo" class="form-input" 
                <%= locals.errors && errors.sexo ? 'is-invalid' : null %>>
                <option value=""></option>
                <% let genero = ['Mujer', 'Hombre'] %>
                <% for (const sexo in genero) { %>
                  <option 
                    <%= locals.oldData && (`${sexo}` == oldData.sexo) ? "selected" : null %>
                    > 
                      <%= `${genero[sexo]}` %> 
                  </option>
                <% } %>
              </select>
              <% if (locals.errors && errors.sexo) { %>
                <div class="text-danger" style="color: red" style="font-weight: bold">
                  <%= errors.sexo.msg %>
                </div>
              <% } %>
            </div>
            <div class="campos">
              <label for="userRol:"></label>
              <select name="userRol" id="userRol" class="form-input" 
              <%= locals.errors && errors.userRol ? 'is-invalid' : null %>>
              <option value=""></option>
              
              <% let tipoUser = ['Estudiante', 'Profesor'] %>
              <% for (const user in tipoUser) { %>
                <option 
                  <%= locals.oldData && (`${user}` == oldData.userRol) ? "selected" : null %>
                  > 
                    <%= `${tipoUser[user]}` %> 
                </option>
              <% } %>
            </select>
            <% if (locals.errors && errors.userRol) { %>
              <div class="text-danger" style="color: red" style="font-weight: bold">
                <%= errors.userRol.msg %>
              </div>
            <% } %>
          </div>
            <div class="campos">
              <input class="bot-tyc" type="checkbox" name="terminosCondiciones" required>
              <label class="term-y-cond"> Acepto los términos y condiciones </label>
            </div>
            <div class="campos">
              <button type="submit" class="reg" onclick="register()">  Registrarse
              
              </button>
            </div>
          </form>
        </div>
      </section>

  </main>
</body>

</html>