<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Configuracion</title>
  <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link href="/css/normalize.css" rel="stylesheet" />
  <link href="/css/configuracion.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/partialsCss/partials.css" />
  <script src="/js/validationConfigStudents.js"></script>
</head>

<body id="alumnos">
  <%- include('../partials/header.ejs')%>
    <main>
      <section class="contenedorConfiguracion">
        <h1>Mis datos</h1>
        <form name="form" class="formulario" id="config-students" action="/students/configuration" method="POST">
            <input class="input-form" placeholder="Nombre" type="text" name="name" id="nameStudent" 
            <%= locals.errors && errors.name ? "is-invalid" : null %>
            value="<%= locals.oldData ? oldData.name : null %>">
              <% if(locals.errors && errors.name) { %>
                <div class="msgError">
                  <%= errors.name.msg %>
                </div>
                <% } %>

          <input class="input-form" placeholder="Apellido" type="text" name="last_name" id="last_nameStudent"
          <%= locals.errors && errors.last_name ? "is-invalid" : null %>
          value="<%= locals.oldData ? oldData.last_name : null %>" >
          <% if(locals.errors && errors.last_name) { %>
            <div class="msgError">
              <%= errors.last_name.msg %>
            </div>
            <% } %>

          <input class="input-form" placeholder="Celular" type="text" name="phone" id="phoneStudent"
          <%= locals.errors && errors.phone ? "is-invalid" : null %>
          value="<%= locals.oldData ? oldData.phone : null %>" >
          <% if(locals.errors && errors.phone) { %>
            <div class="msgError">
              <%= errors.phone.msg %>
            </div>
            <% } %>

          <input class="input-form disabled"  type="email" value="usuario@gmail.com" name="email" readonly>
          <input class="input-form disabled"  type="password" value="********" readonly>
          <input class="input-form disabled"  id="user" value="Estudiante" readonly>
          <input class="input-form disabled" type="user_sex" value="Mujer" readonly>

          <div class="subir">
            <input type="file" name="avatar" id="nuestroInputStudent" class="inputSubir" onchange="return imageValidation()"
            <%= locals.errors && errors.avatar ? "is-invalid" : null %>
            value="<%= locals.oldData ? oldData.avatar : null %>" >
            <% if(locals.errors && errors.avatar) { %>
             <div class="msgError">
              <%= errors.avatar.msg %>
             </div>
            <% } %>
          </div>

          <div id="nuestroInputPreview"> </div>

          <div class="contenedorBtn"> 
            <button type="submit" class="cancelar">
              Cancelar
            </button>
            <button type="submit" class="reg">
              Guardar
            </button>
          </div>
          
          <div class="errores-form">
            <ul></ul>
          </div>

        </form>
      </section>
    </main>
      <!-- Footer -->
      <%- include('../partials/footer.ejs')%>
        <script src="/js/scriptHeader.js"></script>
</body>

</html>