<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Configuracion</title>
  <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link href="/css/normalize.css" rel="stylesheet" />
  <link href="/css/configuracion.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/partialsCss/partials.css" />
  <link href="/css/createPackageTeacher.css" rel="stylesheet">
  <script src="/js/validationConfigStudents.js"></script>
</head>

<body id="alumnos">
  <%- include('../partials/header.ejs')%>

    <section class="contenedorConfiguracion">
      <div class="titulo">
        <h1>Configuración</h1>
        <p style="font-size: 1.5rem;margin:0.5em auto">
          <%= userLogged.name%> sube tu avatar así te conocemos
        </p>
      </div>


      <form method="POST" action="/students/configuration/<%= userLogged.id %>/?_method=PUT" name="form"
        class="formulario" id="config-students">
        <div class="flexInput">
          <div class="contentColumn">
            <div class="contentInput disabled">
              <label for="name">Nombre:</label>
              <input type="text" name="name" value="<%= userLogged.name%>" disabled>
            </div>
            <div class="contentInput">
              <label for="phone">Celular:</label>
              <input placeholder="Celular" type="text" name="phone" id="phoneStudent" <%=locals.errors && errors.phone
                ? "is-invalid" : null %> value="<%= userLogged.phone %>" >
                <% if(locals.errors && errors.phone) { %>
                  <div class="msgError">
                    <%= errors.phone.msg %>
                  </div>
                  <% } %>
            </div>
            <div class="contentInput disabled">
              <label for="password">Contraseña:</label>
              <input value="********" disabled />
            </div>
            <div class="contentInput disabled">
              <label for="user_sex_fk">Sexo:</label>
              <% if(userLogged.user_sex_fk==1) { %>
                <input value="Masculino" disabled />
                <% } else { %>
                  <input value="Femenino" disabled />
                  <% } %>
            </div>
          </div>
          <div class="contentColumn">
            <!-- columna 2 -->
            <div class="contentInput disabled">
              <label for="last_name">Apellido:</label>
              <input type="text" name="last_name" value="<%= userLogged.last_name %>" disabled>
            </div>
            <div class="contentInput disabled">
              <label for="email">Email:</label>
              <input value="<%= userLogged.email %>" disabled />
            </div>
            <div class="contentInput disabled">
              <label for="rol">Rol:</label>
              <input value="Estudiante" disabled />
            </div>
            <div class="contentSubir subir">
              <label for="avatar">Avatar:</label>

              <input type="file" name="avatar" id="nuestroInputStudent" class="inputSubir"
                onchange="return imageValidation()" <%=locals.errors && errors.avatar ? "is-invalid" : null %>
              value="<%= locals.oldData ? oldData.avatar : null %>" > <% if(locals.errors && errors.avatar) { %>
                  <div class="msgError">
                    <%= errors.avatar.msg %>
                  </div>
                  <% } %>
            </div>
            <div id="nuestroInputPreview"></div>

          </div>
        </div>
        <div style="margin: auto;text-align: center;">
          <button class="btn crear" type="submit">Guardar<i class="fas fa-check"></i></i> </button>
        </div>
        <div class="errores-form">
          <ul></ul>
        </div>
      </form>






    </section>

    <!-- Footer -->
    <%- include('../partials/footer.ejs')%>
      <script src="/js/scriptHeader.js"></script>
</body>

</html>