<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <title>Servicios Hola al Mundo</title>
  <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link href="/css/paquetesServicios-1.css" rel="stylesheet">
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/partialsCss/partials.css" rel="stylesheet">
</head>

<body>
  <%- include('../partials/header.ejs')%>

    <main>
      <section class="container-filtros">
        <div class="container-header">
          <h2>¿Que idioma te gustaría aprender?</h2>
        </div>
        <div class="paises">
          <div class="card"><img class="imagenes-paises" src="/images/banderas-españa.png"></div>
          <div class="card"><img class="imagenes-paises" src="/images/banderas-inglaterra.png"></div>
          <div class="card"><img class="imagenes-paises" src="/images/banderas-italia.png"></div>
          <div class="card"><img class="imagenes-paises" src="/images/banderas-brasil.png"></div>
        </div>
      </section>

      <div class="layer2">
        <div class="layer2Bg">
          <div class="layer2Content">
            <div class="layer2Heading">
              <h2>Elegí lo que mas te convenga!</h2>
            </div>
            <div class="layer2Info">
              <div class="layerFiltros">
                <div class="containerFiltros">
                  <button class="btnFiltro">Idiomas <i class="fas fa-angle-down"></i></button>
                  <div class="check">
                    <div>
                      <input type="checkbox" name="idiomas" value="español" id="español">
                      <label for="español"> Español </label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="ingles" id="ingles">
                      <label for="ingles"> Ingles </label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="portugues" id="portugues">
                      <label for="portugues"> Portugués </label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="italiano" id="italiano">
                      <label for="italiano"> Italiano </label>
                    </div>
                  </div>
                  <button class="btnFiltro">Temas de interes <i class="fas fa-angle-down"></i></button>
                  <div class="check">
                    <div>
                      <input type="checkbox" name="temas-interes" value="cultura" id="cultura">
                      <label for="cultura">Cultura</label>
                    </div>
                    <div>
                      <input type="checkbox" name="temas-interes" value="noticias" id="noticias">
                      <label for="noticias">Noticias</label>
                    </div>
                    <div>
                      <input type="checkbox" name="temas-interes" value="deportes" id="deportes">
                      <label for="deportes">Deportes</label>
                    </div>
                    <div>
                      <input type="checkbox" name="temas-interes" value="culinaria" id="culinaria">
                      <label for="culinaria">Culinaria</label>
                    </div>
                  </div>
                  <button class="btnFiltro">Profesiones <i class="fas fa-angle-down"></i></button>
                  <div class="check">
                    <div>
                      <input type="checkbox" name="idiomas" value="español" id="español">
                      <label for="español">Abogado</label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="ingles" id="ingles">
                      <label for="ingles">Administrador</label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="portugues" id="portugues">
                      <label for="portugues">Contador</label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="italiano" id="italiano">
                      <label for="italiano">Ingeniero</label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="aleman" id="aleman">
                      <label for="aleman">Musico</label>
                    </div>
                  </div>
                  <button class="btnFiltro">Conversaciones <i class="fas fa-angle-down"></i></button>
                  <div class="check">
                    <div>
                      <input type="checkbox" name="idiomas" value="español" id="español">
                      <label for="español">Español</label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="ingles" id="ingles">
                      <label for="ingles">Ingles</label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="portugues" id="portugues">
                      <label for="portugues">Portugués</label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="italiano" id="italiano">
                      <label for="italiano">Italiano</label>
                    </div>
                  </div>
                  <button class="btnFiltro">Match date <i class="fas fa-angle-down"></i></button>
                  <div class="check">
                    <div>
                      <input type="checkbox" name="idiomas" value="español" id="español">
                      <label for="español">Museos</label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="ingles" id="ingles">
                      <label for="ingles">Rumba</label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="portugues" id="portugues">
                      <label for="portugues">Cena</label>
                    </div>
                    <div>
                      <input type="checkbox" name="idiomas" value="italiano" id="italiano">
                      <label for="italiano">Compartir</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="layer2InfoContainer">
                <% profesores.forEach(function(profesor) { %>
                  <div class="profeContainer">
                    <img class="profeImage" src="/images/<%=profesor.image %>">
                    <div class="puntuacion">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <div class="footer-profesor">
                      <button class="footer-profesor">
                        <%= profesor.name %>
                      </button>
                    </div>
                  </div>
                  <% }) %>
              </div>
            </div>
          </div>
        </div>

        <div class="layer3">
          <section id="sectionServicios" onload="reset()">
            <h2>Nuestros Servicios</h2>

            <div class="serviceContainer">
              <button class="preBtn">
                <i class="fas fa-chevron-left"></i>
              </button>
              <button class="nxtBtn">
                <i class="fas fa-chevron-right"></i>
              </button>
              <% servicios.forEach(function(servicio){ %>
                <!-- card 1 -->
                <div class="serviceCard">
                  <div class="serviceImg">
                    <span class="discountTag">$ <%=servicio.price %></span>
                    <i class="fas fa-comments"></i>
                    <h4>
                      <%=servicio.name %>
                    </h4>
                    <p class="description">
                      <%=servicio.description %>
                    </p>
                  </div>
                  <div class="serviceInfo">
                    <button>
                      <i class="fas fa-shopping-cart"></i>
                      Agregar al carrito
                    </button>
                  </div>
                </div>
                <% }) %>
            </div>
          </section>
        </div>

        <div class="layer4">
          <section id="sectionServicios" onload="reset()">
            <h2>Recomendados para ti</h2>
            <div class="serviceContainer">
              <button class="preBtn">
                <i class="fas fa-chevron-left"></i>
              </button>
              <button class="nxtBtn">
                <i class="fas fa-chevron-right"></i>
              </button>
              <!-- card 1 -->
              <% serviciosRecomendados.forEach(function(servicio){ %>
                <!-- card 1 -->
                <div class="serviceCard">
                  <div class="serviceImg">
                    <span class="discountTag">$ <%=servicio.price %></span>
                    <i class="fas fa-comments"></i>
                    <h4>
                      <%=servicio.name %>
                    </h4>
                    <p class="description">
                      <%=servicio.description %>
                    </p>
                  </div>
                  <div class="serviceInfo">
                    <button>
                      <i class="fas fa-shopping-cart"></i>
                      Agregar al carrito
                    </button>
                  </div>
                </div>
                <% }) %>
            </div>
          </section>
          <section id="sectionServicios" onload="reset()">
            <h2>Los mas vendidos</h2>
            <div class="serviceContainer">
              <button class="preBtn">
                <i class="fas fa-chevron-left"></i>
              </button>
              <button class="nxtBtn">
                <i class="fas fa-chevron-right"></i>
              </button>
              <!-- card 1 -->
              <% serviciosMasVendidos.forEach(function(servicio){ %>
                <!-- card 1 -->
                <div class="serviceCard">
                  <div class="serviceImg">
                    <span class="discountTag">$ <%=servicio.price %></span>
                    <i class="fas fa-comments"></i>
                    <h4>
                      <%=servicio.name %>
                    </h4>
                    <p class="description">
                      <%=servicio.description %>
                    </p>
                  </div>
                  <div class="serviceInfo">
                    <button>
                      <i class="fas fa-shopping-cart"></i>
                      Agregar al carrito
                    </button>
                  </div>
                </div>
                <% }) %>
            </div>
          </section>
          <!--  
            <div>
                <h2 class = "layer4Heading">Recomendados para ti</h2>
            </div>
            <div class = "layer4Servicios">
                <div class = "serviciosContainer"> 
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
            </div>    
            <div>
                <h2 class = "layer4Heading">Los mas vendidos</h2>
            </div>
            <div class = "layer4Servicios">
                <div class = "serviciosContainer"> 
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
            </div> -->
        </div>
    </main>
    <!-- chat -->
    <%- include('../partials/chat.ejs')%>
      <!-- Footer -->
      <%- include('../partials/footer.ejs')%>
        <script src="/js/scriptHeader.js"></script>
        <script>
          var btnFiltro = document.getElementsByClassName("btnFiltro");
          var i;

          for (i = 0; i < btnFiltro.length; i++) {
            btnFiltro[i].addEventListener("click", function () {
              this.classList.toggle("active");
              var check = this.nextElementSibling;
              if (check.style.maxHeight) {
                check.style.maxHeight = null;
              } else {
                check.style.maxHeight = check.scrollHeight + "px";
              }
            });
          }
        </script>
</body>

</html>