<!-- REGISTRO -->

<!DOCTYPE html>

<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title> Registro </title>
       <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"> </script>
       <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
       <link href="/css/normalize.css" rel="stylesheet">
       <link href="/css/login.css" rel="stylesheet">
</head>

<body>

 <main class="main-content">

 <%- include('../partials/backgroundLogin.ejs')%>

 <section class="right-content">

          <div class="contenedorFormulario">

               <div class="title">
                    <p class="HAM"> Hola al Mundo </p>
                    <p class="subtitle"> Formulario de registro </p>
               </div>

               <form name="form" class="formulario" action="/register" method="POST">

                     <div class="campos">
                          <label for="name"></label>
                          <input placeholder="Nombre" type="text" name="name" class="input-form"
                          <%= locals.errors && errors.name ? 'is-invalid' : null %>
                              value="<%= locals.oldData ? oldData.name : null %>" >
                          <% if(locals.errors && errors.name) { %>
                               <div class="text-danger" style="color: red"> <%= errors.name.msg %> </div>
                          <% } %>
                     </div>

                     <div class="campos">
                          <label for="lastName"></label>
                          <input placeholder="Apellido" type="text" name="lastName" class="input-form"
                          <%= locals.errors && errors.lastName ? 'is-invalid' : null %>
					     value="<%= locals.oldData ? oldData.lastName : null %>" >
                          <% if(locals.errors && errors.lastName) { %>
                               <div class="text-danger" style="color: red"> <%= errors.lastName.msg %> </div>
                          <% } %>
                     </div>

                     <div class="campos">
                          <label for="phone"></label>
                          <input placeholder="Celular" type="tel" name="phone" class="input-form"
                          <%= locals.errors && errors.phone ? 'is-invalid' : null %>
						value="<%= locals.oldData ? oldData.phone : null %>" >
                          <% if(locals.errors && errors.phone) { %>
                               <div class="text-danger" style="color: red"> <%= errors.phone.msg %> </div>
                          <% } %>
                     </div>

                     <div class="campos">
                          <label for="Mail"></label>
                          <input placeholder="Email" type="email" name="email" class="input-form"
                          <%= locals.errors && errors.email ? 'is-invalid' : null %>
						value="<%= locals.oldData ? oldData.email : null %>" >
                          <% if(locals.errors && errors.email) { %>
                               <div class="text-danger" style="color: red"> <%= errors.email.msg %> </div>
                          <% } %>
                     </div>

                     <div class="campos">
                          <label for="password"></label>
                          <input placeholder="Contraseña" type="password" name="password" class="input-form"
                          <%= locals.errors && errors.contrasenia ? 'is-invalid' : null %>
						value="<%= locals.oldData ? oldData.password : null %>" >
                          <% if(locals.errors && errors.password) { %>
                               <div class="text-danger" style="color: red"> <%= errors.password.msg %> </div>
                          <% } %>
                     </div>

                     <div class="campos">
                          <label for="validationContrasenia"></label>
                          <input placeholder="Confirma tu contraseña" type="password" name="validationPassword" class="input-form"
                          <%= locals.errors && errors.validationPassword ? 'is-invalid' : null %>
						value="<%= locals.oldData ? oldData.validationPassword : null %>" >
                          <% if(locals.errors && errors.validationPassword) { %>
                               <div class="text-danger" style="color: red"> <%= errors.validationPassword.msg %> </div>
                          <% } %>
                     </div>
            
                     <div class="campos">
                          <label for="gender:"></label>
                          <select name="gender" id="gender" class="input-form" 
                          <%= locals.errors && errors.gender ? 'is-invalid' : null %>>
                          <option value="" disabled selected> Seleciona tu género </option>
                          <% allGenres.forEach(genre => { %>
                          <option value="<%= `${genre.idSex}` %>">
                          <%= locals.oldData && (genre.idSex === oldData.gender) ? "select" : null %>
                          <%= `${genre.description}` %> 
                          </option>
                          <% }) %>  
                          </select>
                          <% if(locals.errors && errors.gender) { %>
                               <div class="text-danger" style="color: red" style="font-weight: bold"> <%= errors.gender.msg %> </div>
                          <% } %>
                     </div>

                     <div class="campos">
                          <label for="userRol:"></label>
                          <select name="userRol" id="userRol" class="input-form"
                          <%= locals.errors && errors.userRol ? 'is-invalid' : null %>>
                          <option value="" disabled selected> Seleciona tu rol </option>
                          <% allRol.forEach(rol => { %>
                          <option  value="<%= `${rol.idRol}` %>">
                          <%= locals.oldData && (rol.idRol == oldData.userRol) ? "selected" : null %>
                          <%= rol.description %> 
                          </option>
                          <% }) %> 
                          </select>
                          <% if(locals.errors && errors.userRol) { %>
                               <div class="text-danger" style="color: red" style="font-weight: bold"> <%= errors.userRol.msg %> </div>
                          <% } %>
                     </div>

                     <div class="campos">
                          <input class="bot-tyc" type="checkbox" name="terminosCondiciones" required>
                          <label class="term-y-cond"> Acepto los términos y condiciones </label>
                     </div>
            
                     <button type="submit" class="reg" onclick="register()"> Registrarse </button>

               </form>
                   
          </div>

 </section>

 </main>

</body>

</html>
