<!-- INICIO INVITADOS -->

<!DOCTYPE html>

<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title> Hola al Mundo </title>
       <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"> </script>
       <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
             rel="stylesheet">
       <link rel="stylesheet" href="/css/inicioGuest.css">
       <link rel="stylesheet" href="/css/partialsCss/partials.css">
</head>

<body>
 
 <%- include('../partials/header')%>

 <main>

 <section>

    <div class="main-carrusel">

         <div class="mySlides fade">

              <img class="imagen" src="/images/carrusel01.png">

                   <div class="content-text">
                        <p class="text"> Comenzá tu experiencia </p>
                        <p class="text"> Registrate hoy mismo </p>
                        <p class="text"> Sólo toma unos minutos </p>
                   </div>

         </div>
          
         <div class="mySlides fade">

              <img class="imagen" src="/images/carrusel02.png">

                   <div class="flex-form">

                        <div class="text-one">
                             <h2> ¿Te gustaría enseñar con nosotros? </h2> 
                             <br>
                             <p class="subtitle"> ¿Qué estas esperando para formar parte de la comunidad de hola al mundo? </p>
                             <br>
                             <p> ¡Completá en este mismo instante nuestro formulario de registro! </p>
                        </div>

                        <div class="form-carrusel">

                             <div class="flex-icon">
                                  <div class="circulo"> <i class="fab fa-google"> </i> </div>
                                  <div class="circulo"> <i class="fab fa-facebook-f"> </i> </div>
                                  <div class="circulo"> <i class="fab fa-linkedin-in"> </i> </div>
                             </div>

                             <div class="form-one">

                                  <form name="form" class="formulario" action="/" method="POST">
                                                     
                                        <div class="campos">
                                             <label for="name"></label>
                                             <input placeholder="Nombre" type="text" name="name" class="input-form"
                                             <%= locals.errors && errors.name ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.name : null %>" >
                                             <% if(locals.errors && errors.name) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.name.msg %> </div>
                                             <% } %>
                                        </div>

                                        <div class="campos">
                                             <label for="lastName"></label>
                                             <input placeholder="Apellido" type="text" name="lastName" class="input-form"
                                             <%= locals.errors && errors.lastName ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.lastName : null %>" >
                                             <% if(locals.errors && errors.lastName) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.lastName.msg %> </div>
                                             <% } %>
                                        </div>
        
                                        <div class="campos">
                                             <label for="phone"></label>
                                             <input placeholder="Celular" type="tel" name="phone" class="input-form"
                                             <%= locals.errors && errors.phone ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.phone : null %>" >
                                             <% if(locals.errors && errors.phone) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.phone.msg %> </div>
                                             <% } %>
                                        </div>
        
                                        <div class="campos">               
                                             <label for="Mail"></label>
                                             <input placeholder="Email" type="email" name="email" class="input-form"
                                             <%= locals.errors && errors.email ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.email : null %>" >
                                             <% if(locals.errors && errors.email) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.email.msg %> </div>
                                             <% } %>
                                        </div>
        
                                        <div class="campos">
                                             <label for="password"></label>
                                             <input placeholder="Contraseña" type="password" name="password" class="input-form"
                                             <%= locals.errors && errors.contrasenia ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.password : null %>" >
                                             <% if(locals.errors && errors.password) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.password.msg %> </div>
                                             <% } %>
                                        </div>

                                        <div class="campos">
                                             <label for="validationContrasenia"></label>
                                             <input placeholder="Confirma tu contraseña" type="password" name="validationPassword" class="input-form"
                                             <%= locals.errors && errors.validationPassword ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.validationPassword : null %>" >
                                             <% if(locals.errors && errors.validationPassword) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.validationPassword.msg %> </div>
                                             <% } %>
                                        </div>

                                        <div class="campos">
                                             <label for="gender:"></label>
                                             <select name="gender" id="gender" class="input-form" 
                                             <%= locals.errors && errors.gender ? 'is-invalid' : null %> >
                                             <option value="" disabled selected> Seleciona tu género </option>
                                             <% data.allGenres.forEach(genre => { %>
                                             <option value="<%= `${genre.idSex}` %>">
                                             <%= locals.oldData && (genre.description === oldData.gender) ? "selected" : null %>
                                             <%= `${genre.description}` %> 
                                             </option>
                                             <% }) %>  
                                             </select>
                                             <% if(locals.errors && errors.gender) { %>
                                                  <div class="text-danger" style="color: red" style="font-weight: bold"> <%= errors.gender.msg %> </div>
                                             <% } %>
                                        </div>
        
                                        <div class="campos">
                                             <label for="userRol:"></label>
                                             <select name="userRol" id="userRol" class="input-form">
                                             <option value="2"> Profesor </option>                 
                                             </select>
                                        </div>

                                        <div class="campos">
                                             <input class="bot-tyc" type="checkbox" name="terminosCondiciones" required>
                                             <label class="term-y-cond"> Acepto los términos y condiciones </label>
                                        </div>

                                        <button type="submit" class="reg" onclick="register()"> Registrarse </button>
                                          
                                  </form>

                             </div>

                        </div>

                   </div>

         </div>

         <div class="mySlides fade">
                           
              <img class="imagen" src="/images/carrusel03.png">
                                
                   <div class="flex-form">

                        <div class="form-carrusel two">

                             <div class="flex-icon">
                                  <div class="circulo"> <i class="fab fa-google"> </i> </div>
                                  <div class="circulo"> <i class="fab fa-facebook-f"> </i> </div>
                                  <div class="circulo"> <i class="fab fa-linkedin-in"> </i> </div>
                             </div>

                             <div class="form-two">

                                  <form name="form" class="formulario" action="/" method="POST">

                                        <div class="campos">
                                             <label for="name"></label>
                                             <input placeholder="Nombre" type="text" name="name" class="input-form" id="input-two"
                                             <%= locals.errors && errors.name ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.name : null %>" >
                                             <% if(locals.errors && errors.name) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.name.msg %> </div>
                                             <% } %>
                                        </div>

                                        <div class="campos">
                                             <label for="lastName"></label>
                                             <input placeholder="Apellido" type="text" name="lastName" class="input-form" id="input-two"
                                             <%= locals.errors && errors.lastName ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.lastName : null %>" >
                                             <% if(locals.errors && errors.lastName) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.lastName.msg %> </div>
                                             <% } %>
                                        </div>

                                        <div class="campos">
                                             <label for="phone"></label>
                                             <input placeholder="Celular" type="tel" name="phone" class="input-form" id="input-two"
                                             <%= locals.errors && errors.phone ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.phone : null %>" >
                                             <% if(locals.errors && errors.phone) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.phone.msg %> </div>
                                             <% } %>
                                        </div>

                                        <div class="campos">               
                                             <label for="Mail"></label>
                                             <input placeholder="Email" type="email" name="email" class="input-form" id="input-two"
                                             <%= locals.errors && errors.email ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.email : null %>" >
                                             <% if(locals.errors && errors.email) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.email.msg %> </div>
                                             <% } %>
                                        </div>

                                        <div class="campos">
                                             <label for="password"></label>
                                             <input placeholder="Contraseña" type="password" name="password" class="input-form" id="input-two"
                                             <%= locals.errors && errors.contrasenia ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.password : null %>" >
                                             <% if(locals.errors && errors.password) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.password.msg %> </div>
                                             <% } %>
                                        </div>

                                        <div class="campos">
                                             <label for="validationContrasenia"></label>
                                             <input placeholder="Confirma tu contraseña" type="password" name="validationPassword" class="input-form" id="input-two"
                                             <%= locals.errors && errors.validationPassword ? 'is-invalid' : null %>
                                                 value="<%= locals.oldData ? oldData.validationPassword : null %>" >
                                             <% if(locals.errors && errors.validationPassword) { %>
                                                  <div class="text-danger" style="color: red"> <%= errors.validationPassword.msg %> </div>
                                             <% } %>
                                        </div>

                                        <div class="campos">
                                             <label for="gender:"></label>
                                             <select name="gender" id="gender" class="input-form" id="input-two"
                                             <%= locals.errors && errors.gender ? 'is-invalid' : null %> >
                                             <option value="" disabled selected> Seleciona tu género </option>
                                             <% data.allGenres.forEach(genre => { %>
                                             <option value="<%= `${genre.idSex}` %>">
                                             <%= locals.oldData && (genre.description === oldData.gender) ? "selected" : null %>
                                             <%= `${genre.description}` %> 
                                             </option>
                                             <% }) %>  
                                             </select>
                                             <% if(locals.errors && errors.gender) { %>
                                                  <div class="text-danger" style="color: red" style="font-weight: bold"> <%= errors.gender.msg %> </div>
                                             <% } %>
                                        </div>

                                        <div class="campos">
                                             <label for="userRol:"></label>
                                             <select name="userRol" id="userRol" class="input-form" id="input-two">
                                             <option value="1"> Estudiante </option>                 
                                             </select>
                                        </div>

                                        <div class="campos">
                                             <input class="bot-tyc2" type="checkbox" name="terminosCondiciones" required>
                                             <label class="term-y-cond2"> Acepto los términos y condiciones </label>
                                        </div>

                                        <button type="submit" class="register" onclick="register()"> Registrarse </button>
                    
                                  </form>

                             </div>

                        </div>
              
                        <div class="text-one">
                             <h2> Te gustaría aprender con nosotros? </h2>
                             <br>
                             <p class="subtitle"> ¿Qué estas esperando para formar parte de la comunidad de hola al mundo? </p>
                             <br>
                             <p> ¡Completá en este mismo instante nuestro formulario de registro! </p>
                        </div>

                   </div>

         </div>

         <a class="prev" onclick="plusSlides(-1)">&#10094; </a>
         <a class="next" onclick="plusSlides(1)">&#10095; </a>

            <div class="content-dot">
                 <span class="dot" onclick="currentSlide(1)"> </span>
                 <span class="dot" onclick="currentSlide(2)"> </span>
                 <span class="dot" onclick="currentSlide(3)"> </span>
            </div>

    </div>

 </section>

 <section id="sectionServicios" onload="reset()">

    <h2> Nuestros Servicios </h2>

    <div class="serviceContainer">
         <button class="preBtn"> <i class="fas fa-chevron-left"> </i> </button>
         <button class="nxtBtn"> <i class="fas fa-chevron-right"> </i> </button>
         <%if (data.servicios) { %>
         <% data.servicios.forEach(function(servicio){ %>
            
            <div class="serviceCard">
                 
                 <div class="serviceImg">
                      <span class="discountTag">$ <%= servicio.price %> </span>
                      <i class="fas fa-comments"> </i>
                      <h4> <%= servicio.language %> </h4>
                      <p class="description"> <%= servicio.description %> </p>
                 </div>

                 <div class="serviceInfo">
                      <button> <i class="fas fa-shopping-cart"> </i> Agregar al carrito </button>
                 </div>

            </div>

         <% }) %>
         <% } %>

    </div>
    
 </section>

 <section id="profesores">

    <div class="section-profesores">

         <div class="title-profesores"> <h2> Nuestros Profesores </h2> </div>

              <div class="container-teacher">

                   <div class="g-uno"> <img src="/images/profe.png" alt="profe" /> </div>
                   <div class="g-dos"> <img src="/images/persona-01.png" alt="profe" /> </div>
                   <div class="g-tres"> <img src="/images/persona-02.png" alt="profe" /> </div>
                   <div class="g-cuatro"> <img src="/images/persona-03.png" alt="profe" /> </div>
                   <div class="g-cinco"> <img src="/images/persona-04.png" alt="profe" /> </div>
                   <div class="g-seis"> <img src="/images/persona-08.png" alt="profe" /> </div>
                   <div class="g-siete"> <img src="/images/persona-06.png" alt="profe" /> </div>
                   <div class="g-ocho"> <img src="/images/persona-09.png" alt="profe" /> </div>

                   <div class="boton-mas"> <button> Ver más </button> </div>

                   <div class="est" id="sectionEstadisticas">

                        <div class="title-estadisticas"> <h2> Hola al Mundo cuenta con: </h2> </div>

                        <div class="cantidades">

                             <div>
                                  <p class="number"> <%= data.profesores.length %> </p>
                                  <p class="text"> Profesores </p>
                             </div>

                             <div>
                                  <p class="number">  <%= data.estudiantes.length %> </p>
                                  <p class="text"> Alumnos </p>
                             </div>
                            
                             <div>
                                  <p class="number"> <%= data.cantidadTemas.length %> </p>
                                  <p class="text"> Temáticas </p>
                             </div>
                
                             <div>
                                  <p class="number"> <%= data.cantidadIdiomas.length %> </p>
                                  <p class="text"> Idiomas </p>
                             </div>

                        </div>

                   </div>

              </div>

    </div>

 </section>

 <%- include('../partials/contact')%>

 </main>

 <%- include('../partials/chat')%>

 <%- include('../partials/footer.ejs')%>
        
 <script src="/js/scriptHeader.js"> </script>

 <script src="/js/scriptCarrusel.js"> </script>

</body>

</html>
