<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hola al Mundo</title>
  <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/inicioGuest.css">
  <link rel="stylesheet" href="/css/partialsCss/partials.css">
</head>

<body id="guest">
  <%- include('../partials/header.ejs')%>
  <main>
    <!-- Carrusel principal -->
    <section>
      <div class="main-carrusel">
        <!-- img 1 -->
        <div class="mySlides fade">
          <img class="imagen" src="/images/carrusel01.png">
          <div class="content-text">
            <p class="text">Lorem ipsum dolor sit amet. </p>
            <p class="text">Lorem ipsum dolor sit amet. </p>
            <p class="text">Lorem ipsum dolor sit amet. </p>
          </div>
        </div>
        <!-- img 2 -->
        <div class="mySlides fade">
          <img class="imagen" src="/images/carrusel02.png">
          <div class="flex-form">
            <div class="text-one">
              <h2>Te gustaría enseñar con nosotros?</h2>
              <p>Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Alias, illo minima quidem
                nihil quae earum ex quas maxime at nulla deleniti
                aliquid modi atque minus iusto consequuntur
                quibusdam cupiditate sequi.
              </p>
              <p class="subtitle">Que esperas?
                <strong>forma parte de la comunidad</strong>
                hola al mundo!
              </p>
            </div>
            <div class="form-carrusel">
              <div class="flex-icon">
                <div class="circulo">
                  <i class="fab fa-google"></i>
                </div>
                <div class="circulo">
                  <i class="fab fa-facebook-f"></i>
                </div>
                <div class="circulo">
                  <i class="fab fa-linkedin-in"></i>
                </div>
              </div>
              <div class="form-one">
                <form action="#" method="post">
                  <input class="input-form" type="text" name="nombre" id="nombre" placeholder="Nombre">
                  <input class="input-form" type="text" name="apellido" id="apellido" placeholder="Apellido">
                  <input class="input-form" type="email" name="email" id="email" placeholder="Email">
                  <input class="input-form" type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
                  <button type="submit" class="register">
                    registrate
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- img 3 -->
        <div class="mySlides fade">
          <img class="imagen" src="/images/carrusel03.png">
          <div class="flex-form">
            <div class="form-carrusel two">
              <div class="flex-icon">
                <div class="circulo">
                  <i class="fab fa-google"></i>
                </div>
                <div class="circulo">
                  <i class="fab fa-facebook-f"></i>
                </div>
                <div class="circulo">
                  <i class="fab fa-linkedin-in"></i>
                </div>
              </div>
              <div class="form-one">
                <form action="#" method="post">
                  <input class="input-form" type="text" name="nombre" id="input-two" placeholder="Nombre">
                  <input class="input-form" type="text" name="apellido" id="input-two" placeholder="Apellido">
                  <input class="input-form" type="email" name="email" id="input-two" placeholder="Email">
                  <input class="input-form" type="password" name="contrasena" id="input-two" placeholder="Contraseña">
                  <button type="submit" class="register">
                    registrate
                  </button>
                </form>
              </div>
            </div>
            <div class="text-one">
              <h2>Te gustaría aprender con nosotros?</h2>
              <p>Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Alias, illo minima quidem
                nihil quae earum ex quas maxime at nulla deleniti
                aliquid modi atque minus iusto consequuntur
                quibusdam cupiditate sequi.
              </p>
              <p class="subtitle">Que esperas?
                <strong>forma parte de la comunidad</strong>
                hola al mundo!
              </p>
            </div>
          </div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <div class="content-dot">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>

    </section>

    <!-- Caracteristicas -->
    <section>
      <div class="content-characteristics">
        <% for( let i = 0; i < caracteritica.length; i++ ) { %>
          <div class="caracteristicas one">
            <div class="circulo">
              <i <%= caracteritica[i].icono %>></i>
            </div>
            <h3><%= caracteritica[i].nombre %></h3>
            <p> <%= caracteritica[i].descripcion %>
            </p>
          </div>
        <% } %> 
       
      <!--   <div class="caracteristicas">
          <div class="circulo">
            <i class="far fa-user-circle"></i>
          </div>
          <h3>caracteritica 2</h3>
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Tempora ea quod voluptate nisi nihil soluta vero quia excepturi.
          </p>
        </div>
        <div class="caracteristicas">
          <div class="circulo">
            <i class="far fa-user-circle"></i>
          </div>
          <h3>caracteritica 3</h3>
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Tempora ea quod voluptate nisi nihil soluta vero quia excepturi.
          </p>
        </div> -->

      </div>

    </section>
    <!-- Seccion profesores -->
    <section id="profesores">
      <div class="section-profesores">
        <div class="title-profesores">
          <h2> Nuestros Profes</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing ut diam arcu
            vivamus erat dictum. Ipsum scelerisque aenean cursus id quis enim sagittis nullam
            sodales. Integer augue id cursus massa duis donec gravida. Non faucibus rmentum
          </p>
        </div>
        <!-- grilla -->
        <div class="content-right">
          <div class="container-teacher">
            <div class="g-uno">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-dos">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-tres">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-cuatro">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-cinco">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-seis">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-siete">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-ocho">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="boton-mas">
              <button>Ver mas</button>
            </div>
            <!-- Seccion Estadisticas -->
            <div class="est" id="section-estadisticas">
              <div class="title-estadisticas">
                <h2>Hola al Mundo cuenta con </h2>
              </div>
              <div class="cantidades">
                <div>
                  <p class="number"> 50 </p>
                  <p class="text">Profesores</p>
                </div>
                <div>
                  <p class="number">+ 5000 </p>
                  <p class="text">Alumnos</p>
                </div>
                <div>
                  <p class="number"> 150 </p>
                  <p class="text">Temáticas</p>
                </div>
                <div>
                  <p class="number"> 4 </p>
                  <p class="text">Idomas</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Sección servicios -->
    <section id="sectionServicios" onload="reset()">
      <h2>Nuestros Servicios</h2>

      <div class="serviceContainer">
        <button class="preBtn">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="nxtBtn">
          <i class="fas fa-chevron-right"></i>
        </button>
        <!-- card 1 -->
       <% for( let i = 0; i < servicios.length; i++ ) { %>
        <div class="serviceCard">
          <div class="serviceImg">
            <span class="discountTag"><%= servicios[i].precio %></span>
            <i class="fas fa-comments"></i>
            <h4><%= servicios[i].nombre %></h4>  <!--  ej: conversación, preparación examen  -->
            <p class="description"><%= servicios[i].descripcion %></p>
          </div>
          <div class="serviceInfo">
            <button>
              <i class="fas fa-shopping-cart"></i>
              Agregar al carrito
            </button>
          </div>
        </div>
        <!-- card 2 -->
        <div class="serviceCard">
          <div class="serviceImg">
            <span class="discountTag">$5000</span>
            <i class="fas fa-comments"></i>
            <h4>Conversación Grupal</h4>
            <p class="description">Lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
          <div class="serviceInfo">
            <button>
              <i class="fas fa-shopping-cart"></i>
              Agregar al carrito
            </button>
          </div>
        </div>
        <!-- card 3 -->
        <div class="serviceCard">
          <div class="serviceImg">
            <span class="discountTag">$5000</span>
            <i class="fas fa-comments"></i>
            <h4>Preparación Exámen</h4>
            <p class="description">Lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
          <div class="serviceInfo">
            <button>
              <i class="fas fa-shopping-cart"></i>
              Agregar al carrito
            </button>
          </div>
        </div>
        <!-- card 4 -->
        <div class="serviceCard">
          <div class="serviceImg">
            <span class="discountTag">$5000</span>
            <i class="fas fa-comments"></i>
            <h4>Perfeccionamiento profesional</h4>
            <p class="description">Lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
          <div class="serviceInfo">
            <button>
              <i class="fas fa-shopping-cart"></i>
              Agregar al carrito
            </button>
          </div>
        </div>
        <!-- card 5 -->
        <div class="serviceCard">
          <div class="serviceImg">
            <span class="discountTag">$5000</span>
            <i class="fas fa-comments"></i>
            <h4>Clases individuales</h4>
            <p class="description">Lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
          <div class="serviceInfo">
            <button>
              <i class="fas fa-shopping-cart"></i>
              Agregar al carrito
            </button>
          </div>
        </div>
        <!-- card 6 -->
        <div class="serviceCard">
          <div class="serviceImg">
            <span class="discountTag">$5000</span>
            <i class="fas fa-comments"></i>
            <h4>Clases Grupales</h4>
            <p class="description">Lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
          <div class="serviceInfo">
            <button>
              <i class="fas fa-shopping-cart"></i>
              Agregar al carrito
            </button>
          </div>
        </div>
        <!-- card 7 -->
        <div class="serviceCard">
          <div class="serviceImg">
            <span class="discountTag">$5000</span>
            <i class="fas fa-comments"></i>
            <h4>Conversacion por tematica</h4>
            <p class="description">Lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
          <div class="serviceInfo">
            <button>
              <i class="fas fa-shopping-cart"></i>
              Agregar al carrito
            </button>
          </div>
        </div>
        <!-- card 8 -->
        <div class="serviceCard">
          <div class="serviceImg">
            <span class="discountTag">$5000</span>
            <i class="fas fa-comments"></i>
            <h4>Clases semanales</h4>
            <p class="description">Lorem ipsum dolor sit amet dolor sit amet</p>
          </div>
          <div class="serviceInfo">
            <button>
              <i class="fas fa-shopping-cart"></i>
              Agregar al carrito
            </button>
          </div>
        </div>

      </div>
    </section>
    <!-- section Contacto -->
    <%- include('../partials/contact.ejs')%>
  </main>
  <!-- chat -->
  <%- include('../partials/chat.ejs')%>
  <!-- Footer -->
  <%- include('../partials/footer.ejs')%>
  <script src="/js/scriptHeader.js"></script>
  <script src="/js/scriptCarrusel.js"></script>
</body>

</html>