<!-- INICIO PROFESORES -->

<!DOCTYPE html>

<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title> inicio </title>
       <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="/css/inicioProfes.css">
       <link rel="stylesheet" href="/css/partialsCss/partials.css">
</head>

<body id="profesores">

 <%- include('../partials/header.ejs')%>

 <main>

 <section id="slideProfes">

          <div class="contenedorSlide">

               <h1> ¿Cómo comenzar? </h1>

               <div class="flexSlide">
            
                    <div> <h2> 1. Configurá tu perfil </h2> </div>
                    <div> <h2> 2. Empezá a dar clases </h2> </div>

               </div>
         
          </div>

 </section>

 <section id="profesores">

          <div class="section-profesores">
          
               <div class="title-profesores"> <h2> Nuestros Alumnos </h2> </div>

                    <div class="content-right">
            
                         <div class="container-teacher">
                
                              <div class="g-uno"> <img src="/images/profe.png" alt="profe"> </div>
                              <div class="g-dos"> <img src="/images/profe.png" alt="profe"> </div>
                              <div class="g-tres"> <img src="/images/profe.png" alt="profe"> </div>
                              <div class="g-cuatro"> <img src="/images/profe.png" alt="profe"> </div>
                              <div class="g-cinco"> <img src="/images/profe.png" alt="profe"> </div>
                              <div class="g-seis"> <img src="/images/profe.png" alt="profe"> </div>
                              <div class="g-siete"> <img src="/images/profe.png" alt="profe"> </div>
                              <div class="g-ocho"> <img src="/images/profe.png" alt="profe"> </div>
                
                              <div class="boton-mas"> <button> Ver más </button> </div>
         
                              <div class="est" id="section-estadisticas">

                                   <div class="title-estadisticas"> <h2> Hola al Mundo cuenta con: </h2> </div>
                          
                                        <div class="cantidades">
                               
                                             <div>
                                                  <p class="number"> <%= profesores.length %> </p>
                                                  <p class="text"> Profesores </p>
                                             </div>

                               
                                             <div>
                                                  <p class="number"> <%= estudiantes.length %> </p>
                                                  <p class="text"> Alumnos </p>
                                             </div>

                                             <div>
                                                  <p class="number"> <%= cantidadTemas.length %> </p>
                                                  <p class="text"> Temáticas </p>
                                             </div>

                                             <div>
                                                  <p class="number"> <%= cantidadIdiomas.length %> </p>
                                                  <p class="text"> Idiomas </p>
                                             </div>

                                        </div>

                                   </div>

                         </div>

                    </div>

          </div>

 </section>

 <%- include('../partials/contact.ejs')%>
    
 </main>
    
 <%- include('../partials/chat.ejs')%>
   
 <%- include('../partials/footer.ejs')%>

 <script src="/js/scriptHeader.js"></script>

 <script src="/js/scriptCarrusel.js"></script>

</body>

</html>
